<ul class="side-nav" >
    <li class="active">
        <a href="{{ url('new-account') }}">
            <i class="fi-unlock"></i>
            Sign In / Create New Account
        </a>
    </li>
    <li>
        <a href="{{ url('interactive-map') }}">
            <i class="fi-map"></i>
            Interactive Map
        </a>
    </li>
    <li>
        <a href="{{ url('order-list') }}">
            <i class="fi-list"></i>
            List of Orders
        </a>
    </li>
    <li>
        <a href="{{ url('operators-list') }}">
            <i class="fi-telephone"></i>
            Operators
        </a>
    </li>
    <li>
        <a href="{{ url('drivers-list') }}">
            <i class="fi-torsos-male-female"></i>
            Taxi Drivers
        </a>
    </li>
    <li>
        <a>
            <i class="fi-info"></i>
            Help: How to Use?
        </a>
    </li>
    {% set userInfo = app.session.get('userInfo') %}
    {% if userInfo is not empty %}
    <li>
        <a href="{{ url('log-off') }}">
            <i class="fi-lock"></i>
            Log off
        </a>
    </li>
    {% endif %}
</ul>