{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>New Driver</h1>
    {{ form_start(newDriverForm) }}

    {{ form_label(newDriverForm.fullName) }}
    {{ form_widget(newDriverForm.fullName, {'id': 'full-name'}) }}
    {{ form_errors(newDriverForm.fullName) }}

    {{ form_label(newDriverForm.login) }}
    {{ form_widget(newDriverForm.login, {'id': 'login'}) }}
    {{ form_errors(newDriverForm.login) }}

    {{ form_end(newDriverForm) }}

    <script type="text/javascript">
        var companyId = {{ app.session.get('userInfo').companyId }};
    </script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/operator_driver.js') }}"></script>
{% endblock %}