{% extends 'AppBundle::layout.html.twig' %}

{% form_theme newOperatorForm 'AppBundle:common:forms.html.twig' %}

{% block body %}
    <h1>New Operator</h1>
    {{ form_start(newOperatorForm) }}

    {{ form_label(newOperatorForm.fullName) }}
    {{ form_widget(newOperatorForm.fullName, {'id': 'full-name'}) }}
    {{ form_errors(newOperatorForm.fullName) }}

    {{ form_label(newOperatorForm.login) }}
    {{ form_widget(newOperatorForm.login, {'id': 'login'}) }}
    {{ form_errors(newOperatorForm.login) }}

    {{ form_end(newOperatorForm) }}

    <script type="text/javascript">
        var companyId = {{ app.session.get('userInfo').companyId }};
    </script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/operator_driver.js') }}"></script>
{% endblock %}